<!DOCTYPE html>
<html>
<head>
<title>Alerta SUNAT Demo</title>
<meta charset="UTF-8">
</head>

<body style="font-family:Arial">

<h2>Demo Alerta SUNAT</h2>

<p><b>Paso 1:</b> Loguéate primero en SUNAT</p>

<button onclick="abrirSunat()">
1️⃣ Abrir SUNAT
</button>

<br><br>

<p><b>Paso 2:</b> Ingresa tu RUC</p>

<input id="ruc" placeholder="Ingresa tu RUC">

<button onclick="consultar()">
2️⃣ Consultar buzón
</button>

<script>

function abrirSunat(){
    window.open(
        "https://e-menu.sunat.gob.pe/cl-ti-itmenu/MenuInternet.htm?exe=buzon",
        "_blank"
    )
}

function consultar(){

    const ruc = document.getElementById("ruc").value

    if(!ruc){
        alert("Ingresa RUC")
        return
    }

    window.location.href = "/consulta/" + ruc

}

</script>

</body>
</html>